<!--
  This HTML code represents a receipt list item component.
  It displays information about a product purchase, including the product name, type, purchase date, unit price, amount bought, and total price.
  The information is displayed within an ion-card element, with the product name, type, and purchase date on the left side, and the unit price, amount bought, and total price on the right side.
-->
<ion-card>
  <ion-card-content>
    <div class="info-left">
      <h2>{{ productName }}</h2>
      <p>{{ productType }}</p>
      <p>{{ purchaseDate }}</p>
    </div>
    <div class="info-right">
      <p>Unit Price: {{ unitPrice }}</p>
      <p>Amount Bought: {{ amountBought }}</p>
      <h2>Total Price: {{ totalPrice }}</h2>
    </div>
  </ion-card-content>
</ion-card>
