/**
 * Styles for the receipt list item component.
 */
/* item-list.component.scss */
ion-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  &-content {
    display: flex;
    justify-content: space-between;
  }

  .info-left,
  .info-right {
    flex: 2; /* Increase the flex value to make the separation bigger */
  }

  .info-left {
    h2 {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .info-right {
    h2 {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  &:hover {
    transform: scale(1.02);
  }
}
