<ion-content [fullscreen]="true" class="content">
  <ion-title
    size="large"
    class="content-title"
    style="position: fixed; top: 0; left: 0; right: 0"
    >Receipt</ion-title
  >

  <ion-list class="list">
    <ion-item *ngFor="let purchase of purchases" class="list-item">
      <div class="item-detail">
        <app-receipt-list-item
          [productName]="purchase.productName"
          [productType]="purchase.productType"
          [purchaseDate]="purchase.purchase_Date"
          [unitPrice]="purchase.productPrice"
          [amountBought]="purchase.quantity"
          [totalPrice]="purchase.totalPrice"
        ></app-receipt-list-item>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<app-tabs></app-tabs>
